[Unit]
Description=Envoy Proxy for {{ network_name }}

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/consul connect envoy \
          -sidecar-for {{ instance_id }}-{{ network_name }}-{{ protocol }} \
          -grpc-addr=https://127.0.0.1:8502 \
          -ca-file=/etc/consul/ssl/connect-root.crt \
          -client-cert=/etc/consul/ssl/{{ network_name }}-{{ protocol }}.crt \
          -client-key=/etc/consul/ssl/{{ network_name }}-{{ protocol }}.key \
          -admin-bind=127.0.0.1:{{ envoy_port }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target