{
    "service": {
        "name": "{{ network_name }}-{{ protocol }}",
        {% if instance_type == "asg" %}
        "id": "{% raw %}{{ instance_id }}{% endraw %}-{{ network_name }}-{{ protocol }}",
        {% endif %}
        {% if instance_type == "node" %}
        "id": "{{ instance_id }}-{{ network_name }}-{{ protocol }}",
        {% endif %}
        "port": {{ service_port }},
        "connect": {
            "sidecar_service": {
                "port": {{ envoy_port }}
            }
        },
        "check": {
            "http": "http://localhost:{{ health_check_port }}",
            "method": "GET",
            "interval": "15s",
            "timeout": "5s",
            "success_before_passing": 0,
            "failures_before_warning": 4,
            "failures_before_critical": 8,
        }
    }
}