#!/usr/bin/env bash

{% for protocol in ["json", "ws"] %}
while [[ "$(curl http://127.0.0.1:8500/v1/agent/connect/ca/leaf/{{ item.value['shortname'] }}-{{ protocol }}-sidecar-proxy > /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}-cert-resp && wc -c /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}-cert-resp | awk '{print $1}')" -lt "500" ]]; do
echo "Cert response incorrect... Will retry."
sleep 5
done

cat /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}-cert-resp | jq '.CertPEM' -r > /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}.crt
chown consul:bin /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}.crt
chmod 640 /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}.crt

cat /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}-cert-resp | jq '.PrivateKeyPEM' -r > /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}.key
chown consul:bin /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}.key
chmod 640 /etc/consul/ssl/{{ item.value['shortname'] }}-{{ protocol }}.key

{% endfor %}